$primary-color: #757575;
$heading-color: #01a093;

h1 {
	font-weight: lighter;
	font-size: 3.8rem;
	color: $heading-color;
	margin-bottom: 10px;
}
p, li {
	font-weight: 300;
}
p.denver {
	strong {
		letter-spacing: 3px;
	}
}
a {
	color: $heading-color;
	font-weight: 400;
}
.contact {
	padding-top: 55px;
	padding-bottom: 30px;
	height: 100vh;
}
.loca {
	text-align: center;
	font-size: 20px;
	font-weight: 200;
	color: $primary-color;
	margin-top: 45vh;
	img.marker {
		width: 40px;
		height: auto;
		margin-bottom: 10px;
	}
}