<div class="img-head">
	<img src="/assets/realty-cards.png" alt="realty-cards.com" class="realty">
</div>


<div class="container up">
	<div class="row">
		<div class="col-md-12 intro">
			<h1>Realty Cards</h1>
			<p class="tag">The web's leading real estate marketing company.</p> 
			<p>This is the main site I maintained and improved while working at Redfire Creative. It started as a basic, outdated HTML site with practically no javascript and a very basic ordering system through jotform. This site has amazing SEO rankings and does tons of business, so I started building a complete back-end in PHP and MySQL to manage orders, customers, and products.</p>
			<div class="button-div">
				<a href="https://realty-cards.com" target="_blank" class="morph-button">
					<span class="hex-1000"></span> 
					<span class="hex-900"></span> 
					<span class="hex-500"></span> 
					<span class="hex-200"></span> 
					<span class="text">LIVE SITE</span>
				</a>
			</div>
		</div>

		<div class="col-md-12 resp">
			<div class="device-screen">
				<div class="triangle" style=""></div>
				<img alt="Tablet View" title="Tablet View" class="tablet" src="/assets/realty-tablet.jpg">
				<img alt="Desktop View" title="Desktop View" class="desktop" src="/assets/realty-full.jpg">
				<img alt="Smartphone View" title="Smartphone View" class="phone" src="/assets/realty-mobile.jpg">
			</div>

		</div>
		<div class="col-md-12">
			<h3>Tech Used:</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3 (SASS)</li>
				<li>bootstrap</li>
				<li>ES6</li>
				<li>jquery</li>
				<li>PHP</li>
				<li>MySQL</li>
			</ul>
		</div>
		<div class="col-md-12 screenshots">
			<img class="screen desktop" src="/assets/realty-full.gif" alt="realty-desktop">
		</div>
		<div class="resp-screenshots">
			<div class="col-xs-5">
				<img class="screen mobile" src="/assets/realty-mobile.gif" alt="realty-mobile">
			</div>
			<div class="col-xs-7">
				<img class="screen tablet" src="/assets/realty-tablet.gif" alt="realty-tablet">
			</div>
		</div>
		<div class="col-md-12 back-butt">
			<div class="button-div back">
				<a href="/portfolio" class="morph-button">
					<span class="hex-1000"></span> 
					<span class="hex-900"></span> 
					<span class="hex-500"></span> 
					<span class="hex-200"></span> 
					<span class="text">BACK</span>
				</a>
			</div>
		</div>
	</div>
</div>