<div class="img-head">
	<img src="/assets/kw.png" alt="kw" class="kw">
</div>


<div class="container up">
	<div class="row">
		<div class="col-md-12">
			<h1>KW Cards</h1>
			<p class="tag">A sister-site to Realty Cards, marketing specifically to KW Agents</p> 
			<p>This is one of the many sites I built and maintained while working at Redfire Creative. It's a heavy-duty ecommerce site that uses wordpress and woocommerce to sell Keller Williams print products and business cards. The product pages, order forms and user accounts are completely custom, as well as the email integration.
			</p>
		</div>
		<div class="col-md-12">
			<div class="button-div">
				<a href="https://keller-williams-cards.com/" target="_blank" class="morph-button">
					<span class="hex-1000"></span> 
					<span class="hex-900"></span> 
					<span class="hex-500"></span> 
					<span class="hex-200"></span> 
					<span class="text">LIVE SITE</span>
				</a>
			</div>
		</div>
		
	<!--	
		<div class="col-md-12">
	
			<div class="device-screen">
				<div class="triangle" style=""></div>
				<img alt="Tablet View" title="Tablet View" class="tablet" src="/assets/kw-tablet.jpg">
				<img alt="Desktop View" title="Desktop View" class="desktop" src="/assets/kw-full.jpg">
				<img alt="Smartphone View" title="Smartphone View" class="phone" src="/assets/kw-mobile.jpg">
			</div>

		</div>
		<div class="col-md-12">
			<h3>Tech Used:</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>bootstrap</li>
				<li>wordpress</li>
				<li>jquery</li>
				<li>PHP</li>
				<li>MySQL</li>
			</ul>
		</div>
		<div class="col-md-12 screenshots">
			<img class="screen desktop" src="/assets/kw-full.gif" alt="kw-desktop">
		</div>
		<div class="resp-screenshots">
			<div class="col-xs-5">
				<img class="screen mobile" src="/assets/kw-mobile.gif" alt="kw-mobile">
			</div>
			<div class="col-xs-7">
				<img class="screen tablet" src="/assets/kw-tablet.gif" alt="kw-tablet">
			</div>
		</div>
		<div class="col-md-12">
			<div class="button-div back">
				<a href="/portfolio" class="morph-button">
					<span class="hex-1000"></span> 
					<span class="hex-900"></span> 
					<span class="hex-500"></span> 
					<span class="hex-200"></span> 
					<span class="text">BACK</span>
				</a>
			</div>
		</div>
		-->
		
	</div>
</div>