$primary-color: #757575;
$heading-color: #01a093;

h1, h2 {
	margin: 0;
	letter-spacing: 2px;
}
h1 {
	font-weight: lighter;
	font-size: 3.8rem;
	color: $heading-color;
	margin-bottom: 10px;
}
h2 {
	font-size: 1.4rem;
	line-height: 1.25;
	font-weight: 200;
	color: $primary-color;
}
.main {
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	overflow: hidden
}
#triangle-right {
	width: 0;
	height: 0;
	border-top: 350px solid transparent;
	border-bottom: 350px solid transparent;
	position: absolute;
	z-index: 0;
	top: 50px;
	left: 40px;
}
.view {
	width: 100%;
	height: 100vh;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 75%;
	display: block;
	text-align: center;
	overflow: hidden;
	.copy {
		margin: auto;
		position: relative;
    z-index: 1;
	}
}
.morph-button:before, .morph-button .hex-200, .morph-button .hex-500, .morph-button .hex-900, .morph-button .hex-1000 {
    width: 51px;
    height: 100%;
    position: absolute;
    top: 0;
    background: no-repeat center center;
    display: block;
}
.morph-button {
	margin: 20px 0 0 -20px;
	background: #6fffdf;
	color: #005f63;
	width: auto;
	height: 45px;
	padding: 0;
	position: relative;
	border: 0;
	text-decoration: none;
	display: inline-block;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
	.hex-1000 {
		background-image: url(/assets/hexagon-btn-200.svg);
		left: -13px;
	}
	.hex-900 {
    right: -33px;
    background-image: url(/assets/hexagon-btn-900.svg);
	}
	.hex-500 {
    right: -23px;
    background-image: url(/assets/hexagon-btn-500.svg);
	}
	.hex-200 {
    background-image: url(/assets/hexagon-btn-200.svg);
		right: -13px;
	}
	.text {
    padding: 0 12px;
    float: right;
    position: relative;
    overflow: hidden;
    line-height: 47px;
    white-space: nowrap;
    display: block;
	}
}
/* iPads and Tablets ----------- */
@media only screen and (min-width: 768px) {
  h1 {
		font-size: 4.8rem;
	}
	h2 {
		font-size: 2rem;
	}
	.main {
		padding-left: 95px;
	}
	.view {
		padding-top: 70%;
	}
}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	h1 {
		font-size: 6.8rem;
	}
	h2 {
		font-size: 2.5rem;
	}

	.view {
		padding-top: 23%;
	}
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}