$heading-color: #01a093;
$primary-color: #757575;

.projects {
	padding: 95px 0;
	text-align: center;
}
.project {
	.outside {
		position: absolute;
		right: 150px;
    width: 350px;
    height: 380px;
		background: $heading-color;
		-webkit-clip-path: polygon(50% 3%, 100% 25%, 100% 75%, 50% 97%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 3%, 100% 25%, 100% 75%, 50% 97%, 0% 75%, 0% 25%);
	}
	.inside {
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		background: #e4f4f3;
		-webkit-clip-path: polygon(50% 3%, 100% 25%, 100% 75%, 50% 97%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 3%, 100% 25%, 100% 75%, 50% 97%, 0% 75%, 0% 25%);
	}
	.project-image {
		-webkit-clip-path: polygon(50% 3%, 100% 25%, 100% 75%, 50% 97%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 3%, 100% 25%, 100% 75%, 50% 97%, 0% 75%, 0% 25%);
	}
	h2 {
		color: $heading-color;
		font-weight: 200;
	}
	.project-desc {
		color: $primary-color;
		font-weight: 200;
	}
}

/* iPads and Tablets ----------- */
@media only screen and (min-width: 768px) {

}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

	.projects {
		padding: 55px 95px;
		text-align: left;
		h2 {
			font-size: 40px;
		}
		p {
			font-size: 20px;
		}
		.project {
			position: relative;
    	height: 390px;
      margin: 50px;
			.outside {
				position: absolute;
				width: 350px;
				height: 380px;
				background: $heading-color;
				-webkit-clip-path: polygon(50% 3%, 100% 25%, 100% 75%, 50% 97%, 0% 75%, 0% 25%);
				clip-path: polygon(50% 3%, 100% 25%, 100% 75%, 50% 97%, 0% 75%, 0% 25%);
			}
			.outside.realty, .outside.valerie, .outside.kw   {
				right: -550px;
			}
			.outside.kwhitaker, .outside.bella  {
				left: 850px;
			}
			.inside {
				position: absolute;
				top: 5px;
				left: 5px;
				right: 5px;
				bottom: 5px;
				background: #e4f4f3;
				-webkit-clip-path: polygon(50% 3%, 100% 25%, 100% 75%, 50% 97%, 0% 75%, 0% 25%);
				clip-path: polygon(50% 3%, 100% 25%, 100% 75%, 50% 97%, 0% 75%, 0% 25%);
			}
			.project-image {
				position: absolute;
				right: 5px;
				top: 5px;
				width: 330px;
				height: 360px;
				-webkit-clip-path: polygon(50% 3%, 100% 25%, 100% 75%, 50% 97%, 0% 75%, 0% 25%);
				clip-path: polygon(50% 3%, 100% 25%, 100% 75%, 50% 97%, 0% 75%, 0% 25%);
			}
			.text {
				width: 400px;
				top: 30%;
				position: absolute;
			}
			.realty.text, .valerie.text, .kw.text {
				left: 160px;
			}
			.kwhitaker.text, .bella.text {
				right: 120px;
			}
		}
	}
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}