<div class="img-head">
	<img src="/assets/bp.png" alt="bella" class="bella">
</div>


<div class="container up">
	<div class="row">
		<div class="col-md-12 intro">
			<h1>Bella Prana Yoga</h1>
			<p class="tag">The most popular and lovely yoga studio in Tampa, FL</p> 
			<p>This was my favorite yoga studio when I lived in Tampa and I was lucky enough to get to build their site and do their logo! The owner wanted her online presence to feel serene yet happy to match the feel inside the studio, which led us to the beautiful colors we chose. I went with wordpress again for easy management and the MindBody plugin.</p>
			<div class="button-div">
				<a href="http://bellaprana.com/" target="_blank" class="morph-button">
					<span class="hex-1000"></span> 
					<span class="hex-900"></span> 
					<span class="hex-500"></span> 
					<span class="hex-200"></span> 
					<span class="text">LIVE SITE</span>
				</a>
			</div>
		</div>

		<div class="col-md-12 resp">
			<div class="device-screen">
				<div class="triangle" style=""></div>
				<img alt="Tablet View" title="Tablet View" class="tablet" src="/assets/bella-tablet.jpg">
				<img alt="Desktop View" title="Desktop View" class="desktop" src="/assets/bella-full.jpg">
				<img alt="Smartphone View" title="Smartphone View" class="phone" src="/assets/bella-mobile.jpg">
			</div>

		</div>
		<div class="col-md-12">
			<h3>Tech Used:</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>bootstrap</li>
				<li>wordpress</li>
				<li>jquery</li>
				<li>PHP</li>
				<li>MySQL</li>
			</ul>
		</div>
		<div class="col-md-12 screenshots">
			<img class="screen desktop" src="/assets/bella-full.gif" alt="bella-desktop">
		</div>
		<div class="resp-screenshots">
			<div class="col-xs-5">
				<img class="screen mobile" src="/assets/bella-mobile.gif" alt="bella-mobile">
			</div>
			<div class="col-xs-7">
				<img class="screen tablet" src="/assets/bella-tablet.gif" alt="bella-tablet">
			</div>
		</div>
		<div class="col-md-12 back-butt">
			<div class="button-div back">
				<a href="/portfolio" class="morph-button">
					<span class="hex-1000"></span> 
					<span class="hex-900"></span> 
					<span class="hex-500"></span> 
					<span class="hex-200"></span> 
					<span class="text">BACK</span>
				</a>
			</div>
		</div>
	</div>
</div>