<div class="img-head">
	<img src="/assets/vm.png" alt="moore" class="moore">
</div>


<div class="container up">
	<div class="row">
		<div class="col-md-12 intro">
			<h1>Valerie Moore</h1>
			<p class="tag">Kansas City Family Law and Divorce Attorney</p>
			<p>Attorneys depend on their website traffic for obtaining new clients, so a user-friendly, fast and SEO-perfect website is important. Valerie Moore wanted a feminine, classy site to attract new clients and get leads. I decided to use wordpress so they could continually add new blog posts, generating better SEO rankings.</p>
			<div class="button-div">
				<a href="http://www.valeriemoorelaw.com/" target="_blank" class="morph-button">
					<span class="hex-1000"></span> 
					<span class="hex-900"></span> 
					<span class="hex-500"></span> 
					<span class="hex-200"></span> 
					<span class="text">LIVE SITE</span>
				</a>
			</div>
		</div>

		<div class="col-md-12 resp">
			<div class="device-screen">
				<div class="triangle" style=""></div>
				<img alt="Tablet View" title="Tablet View" class="tablet" src="/assets/moore-tablet.jpg">
				<img alt="Desktop View" title="Desktop View" class="desktop" src="/assets/moore-full.jpg">
				<img alt="Smartphone View" title="Smartphone View" class="phone" src="/assets/moore-mobile.jpg">
			</div>

		</div>
		<div class="col-md-12">
			<h3>Tech Used:</h3>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>bootstrap</li>
				<li>wordpress</li>
				<li>jquery</li>
				<li>PHP</li>
				<li>MySQL</li>
			</ul>
		</div>
		<div class="col-md-12 screenshots">
			<img class="screen desktop" src="/assets/moore-full.gif" alt="moore-desktop">
		</div>
		<div class="resp-screenshots">
			<div class="col-xs-5">
				<img class="screen mobile" src="/assets/moore-mobile.gif" alt="moore-mobile">
			</div>
			<div class="col-xs-7">
				<img class="screen tablet" src="/assets/moore-tablet.gif" alt="moore-tablet">
			</div>
		</div>
		<div class="col-md-12 back-butt">
			<div class="button-div back">
				<a href="/portfolio" class="morph-button">
					<span class="hex-1000"></span> 
					<span class="hex-900"></span> 
					<span class="hex-500"></span> 
					<span class="hex-200"></span> 
					<span class="text">BACK</span>
				</a>
			</div>
		</div>
	</div>
</div>